.Add{
    width: 400px;
    height: 50px;
    color: white;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
}
.Add:hover{
    cursor: pointer;
    background-color: rgb(6, 99, 6);
}