.task{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    width: 400px;
    margin-top: 10px;
    height: fit-content;
    background-color: rgb(195, 214, 195);
}
h4{
    margin-bottom: 4px;
}